---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';

---

<html lang="en">
  <head>
    <MainHead title="About | Glaucia Lemos" />
    <style lang="scss">
      .heroImg {
        object-fit: cover;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1>About Glaucia Lemos</h1>
      <div class="heroImg">
        <img width="1400" height="350" src="https://images.unsplash.com/photo-1628043858498-49ae4af2f7b5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2822&q=80&auto=format&fit=crop&w=2857&q=80?auto=format&fit=crop&w=1400&h=1100&q=75" />
      </div>
      <div class="bio wrapper wrapper__readable mt8">
        <p>
          Glaucia Lemos é Cloud Advocate em JavaScript/Node.js 🥑 na Microsoft. Ama realizar contribuições em projetos Open Source. 
          Atua como Member & Contributor no Node.js Foundation e no React Community realizando contribuições nas traduções do site 
          Nodejs.org e Reactjs.org para o português e também é Volunteer & Tech Speaker do WoMakersCode.
        </p>
        <p>
          Nas horas vagas, Glaucia ama ouvir uma boa música, aprecia muito assistir filmes ou seriados Netflix e ama conhecer 
          novos lugares, pessoas e aprender novos idiomas. Gosta de realizar live coding através do seu canal na Twitch.tv e 
          ama compartilhar conhecimentos por meio de artigos técnicos, vídeos no canal do Youtube e palestras. 
          O principal foco e objetivo da Glaucia tem sido desenvolvimento de aplicações em JavaScript/Node.js & TypeScript
          integrados com serviços Cloud + A.I.
        </p>
      </div>
    </div>
    <Footer />
</body>
</html>
